/* Começo botão buscar lanches */
.search-box{
    margin: 0 auto;
    margin-top: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFB;
    border-radius: 8px;
    padding: 10px 20px;
    border: 2px solid #92360D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
  
  .search-box input{
   background-color: #F9FAFB;
   padding: 10px;
   font-size: 30px;
   outline: none;
   border: none;
  }
  
  .search-box a img{
    border-left: 1px solid #92360D;
    padding-left: 8px;
    height: 40px;
  }
  
  /* Fim botão de buscar lanche */