/* Cardapio abaixo do video */

.catalogo{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 112.563rem;
    height: 7.688rem;
    background-color: #92360D;
    margin: 0 auto;
    margin-top: 0.313rem;
    border-radius: 70px 70px 9px 9px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.8s ease-in-out;
  }
  


  .catalogo a{
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    position: relative;
  }
  
  .catalogo a::after{
    content: " ";
    background-color: #e4a73d;
    border-radius: 2px 20px 20px 2px;
    width: 0%;
    height: 0.25rem;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  
  .catalogo a:hover{
    color: #e4a73d;
    background-color: #92360d;
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
  }
  
  .catalogo a:hover::after{
    width: 75%;
  }
  /* Fim do Cardapio abaixo do video */
  
  .categoria{
    display: inline-block;
    margin-top: 1.813rem;
    margin-left: 12.375rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .categoria{
    font-size: 1.875rem;
    font-weight: 700;
    color: #374151;
    border-bottom: 2px solid #E5B52F;
  }
  
  
  .grid-container-destaque{
    display: grid;
    gap: 6.60rem;
    grid-template-columns: repeat(auto-fit, 304px);
    margin-top: 1.125rem;
    margin-bottom: 0.813rem;
    margin-left: 12.875rem;
  }

  .grid-container-destaque-hamburguer{
    display: grid;
    gap: 12px 150px;
    grid-template-columns: repeat(auto-fit, 374px);
    margin-top: 1.125rem;
    margin-bottom: 0.813rem;
    margin-left: 12.875rem;
  }
  
  .grid-burguer{
    font-family: 'Poppins', sans-serif;
    width: 18.75rem;
    height: 23.375rem;
    background-color: #FFFFFF;
    margin-top: 0.25rem;
    padding: 0.25rem;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding-bottom: 1.188rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in-out;
}
  
  .grid-burguer:hover{
    transform: scale(1.1);  
    cursor: pointer;
  }
  .imagem-destaque{
    margin-top: 4px;
    margin: 5px;
  }
  
  .titulo-destaque h3{
    color: #374151;
    margin-left: 16px;
    margin-top: 12px;
  }
  
  .titulo-destaque p{
    margin-left: 1rem;
    margin-top: 0.813rem;
    color: #6B7280;
  }
  
  .valor-destaque{
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-top: 0.563rem;
    display: flex;
    
  }
  
  .valor-destaque p{
    margin-right: 0.563rem;
  }
  
  .destaque{
    color: #10B981;
  }
  
  .valor-promo{
    font-weight: lighter;
    font-size: 0.688rem;
    text-decoration: line-through;
    color: #6B7280;
  }
  
  .carrinho{
    margin-left: 8.125rem;
  }
  
  .grid-hamburguer{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28.625rem;
    height: 9.625rem;
    padding: 1rem;
    gap: 0.75rem;
    transition: 0.3s ease-in-out;
  }

  .grid-hamburguer:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .detalhe{
    display: flex;
    flex-direction: column;
  }
  
  .detalhe h3{
    margin-bottom: 4px;
    color: #374151;
  }
  
  .detalhe ul li{
    /* margin-bottom: 1px; */
    font-size: 0.75rem;
    list-style: none;
    color: #6B7280;
  }
  
  .valor{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10B981;
  }
  
  .valor img{
    margin-top: 5px;
  }

  .valor p{
    color: #10B981;
  }
  
  @keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
  
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes toTop{
    from{
        opacity: 0;
        transform: translateX(30px);
    }
  
    to{
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes toRight{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
  
    to{
        opacity: 1;
        transform: translateX(0);
    }
  }
