/* font-family: 'Poppins', sans-serif; */
.location{
    margin-top: 110px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #374151;
}

.location-texto{
    margin-top: 11px;
    margin-bottom: 48px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #374151;
}

.mapa{
    height: 40rem;
}