/* font-family: 'Poppins', sans-serif; */
.location{
    margin-top: 6.875rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #374151;
}

.location-texto{
    margin-top: 0.688rem;
    margin-bottom: 3rem;
    font-size: 1.563rem;
    font-weight: 400;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #374151;
}

.mapa{
    height: 40rem;
}