@import url(./header.css);
@import url(./sobre.css);
@import url(./location.css);
@import url(./footer.css);
@import url(./catalogo.css);
@import url(./video.css);
@import url(./button.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@font-face {
    font-family: minhaFonte;
    src: url(Bohem\ Vintage.ttf);
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html{
  scroll-behavior: smooth;
}

body {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-timing-function: ease;
  scroll-behavior: smooth; 
  max-width: 100%;
  background-color: #F4F5F7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#progress{
  background-color: #E4A73D;
  border: 1px solid #92360d;
  position: fixed;
  bottom: 1.25rem;
  right: 1.563rem;
  height: 4.375rem;
  width: 4.375rem;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  animation: flu 2s ease-in-out infinite;

}

#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #92360d;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2.188rem;
  color: #F4F5F7;
}

/* Media Scren */

@media (max-width:900px) {
    header{
        flex-direction: column;
    }
}

/* Fim media */

@keyframes slide{

to{
  opacity: 1;
}

}

@keyframes flu {
    0%, 100%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-5px);
    }
}