@import url(./header.css);
@import url(./video.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@font-face {
    font-family: minhaFonte;
    src: url(Bohem\ Vintage.ttf);
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}


body {
  max-width: 100%;
  background-color: #F4F5F7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* Media Scren */

@media (max-width:900px) {
    header{
        flex-direction: column;
    }
}

/* Fim media */