@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@font-face {
    font-family: minhaFonte;
    src: url(Bohem\ Vintage.ttf);
  }
/* Inicio video */


.videobg {
    overflow-y: hidden;
    width: 100%;
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .videobg video {
    width: 100%;
    height: 50%;
    position: relative;
    /* z-index: 2; */
  }
  
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      width: 100%;
      height: 99.7%;
      opacity: 0.5;
      z-index: 10;
    }
  
    .textovideo{
      font-family: minhaFonte;
      display: flex;
      flex-direction: column;
      gap: 80px;
      /* font-size: 40px; */
      position: absolute;
      top: 150px;
      /* left: 0; */
      z-index: 12;
      color: #e4a73d;
      /* box-shadow: rgba(255, 255, 255, 0.9); */
      justify-content: center;
      align-items: center;
    }

    
    .textovideo h1{
      font-size: 50px;
      border-bottom: 2px solid #e4a73d;
      border-radius: 2px 20px 20px 2px;
    }
   
    .textovideo h2{
      margin: 0 auto;
      font-size: 2.5rem;
    }

    .textovideo h2::after{
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .textovideo h3{
      font-size: 45px;
    }
  
  /* fim video */
  

  /* Animation */



  /* Animation */